* {
  box-sizing: border-box;
}

body {
  background-color: #5b2386;
  font-family: "Gmarket Sans", sans-serif;
  line-height: 1.5;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 32px 16px;
}
